<!DOCTYPE html>
<html>
<th:block th:include="~{include/header}"></th:block>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        
         <header class="p-3 mb-3 border-bottom">
		    <div class="container">
		      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
		        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
		          <img th:src="@{/image/logo_letter.png}" width="80" height="80"/>
		        </a>
		
		        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
		          <li><a href="/" class="nav-link px-6 link-secondary">홈</a></li>
		          <li><a href="#" class="nav-link px-6 link-dark">검색</a></li>
		          <li><a href="#" class="nav-link px-6 link-dark">커뮤니티</a></li>
		        </ul>
		
				<div class="col-md-3 text-end">
					<a href="login" class="btn btn-outline-primary me-2">로그인</a>
					<a href="sign-up" class="btn btn-primary">회원가입</a>
				</div>
		      </div>
		    </div>
		  </header>
		</div>
    </div>
    <div class="row">
    	<!-- iframe-->    
		<div class="col-md-2">
			<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#">게시판1</a>
						<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">게시판2</a>
						<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab"> 게시판3</a>
						<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">게시판4</a>
			</div>
		</div>
		<div class="col-md-10" id="community_sub">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
							<h1 class="h2">게시판1</h1>
			</div>
			<table class="table">
				<thead class="table-dark">
					<tr class="text-center">
						<th>번호</th>
						<th style="width:50%">제목</th>
						<th>글쓴이</th>
						<th>작성일시</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<td>번호</td>
						<td class="text-start">
							<a href="javascript:community_sub('1','detail');">제목</a>
						</td>
						<td>
							<span>글쓴이</span>
						</td>
						<td>작성일시</td>
					</tr>
				</tbody>
			</table>			
		</div>
        <!-- /iframe-->
    </div>
    <div class="row">
        <div class="col-sm-12">
        	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
		    <div class="col-md-4 d-flex align-items-center">
		      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
		        <img th:src="@{/image/logo_letter.png}" width="60" height="60"/>
		      </a>
		    </div>
		
		    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
		      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
		      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
		      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
		    </ul>
		  </footer>
        </div>
    </div>
</div>
<!--script src="bootstrap.bundle.min.js"--><!--/script-->
<script th:src="@{/bootstrap.bundle.min.js}"></script>
</body>
</html>