<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{common/include}"></th:block>
<body>
<div class="container">
	<th:block th:include="~{common/header}"></th:block>
    <div class="row">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 ">
	        	<h1 class="h2" th:text="${boardDetail.title}">게시판 제목</h1>
	      	</div>

		    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		      <div class="col-md-9">
		          <font size="3px" th:text="${boardDetail.userNo}"><b>작성자</b></font>
		          <font size="2px" th:text="${#dates.format(boardDetail.created_time, 'yyyy-MM-dd HH:mm:ss')}">작성일시</font>
		      </div> 
		      <div align="right" class="col-md-3" th:text="'조회 : '+${boardDetail.viewCount}">
		           조회수
		      </div>
		    </div>


		    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-4 mb-3 border-bottom"
		    	th:utext="${boardDetail.contents}">
		        
		    </div>

      
		    <div class="card-body">
		        <div class="card-text p-3 border-bottom" th:each="replyList : ${replyList}">
		          <div><b><font size="3px" th:text="${replyList.UserNo}">댓글작성자명</font></b></div>
		          <div><font size="3px" th:text="${replyList.comment}">댓글내용</font></div>
		          <div><font size="2px" th:text="${#dates.format(replyList.created_time, 'yyyy.MM.dd HH:mm')}">입력시간 : 2022.07.05. 22:16</font></div>
		        </div>
		    </div>
 
		    <form th:action="@{|/community/reply/save/${boardNo}|}" method="post" class="my-3">
		        <div class="col-md-12">
		          <textarea style="resize: none;" class="form-control" rows="3" id="comment" name="comment" placeholder="댓글"></textarea>
		        </div>
		        <div class="d-flex justify-content-end">
		            <button class="btn btn-outline-*" type="submit">등록</button>
		        </div>
		    </form> 
    </div>
    <th:block th:include="~{common/footer}"></th:block>
</div>
</body>
</html>