
    <!--main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"-->
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 ">
        <h1 class="h2">게시판 제목</h1>
      </div>

      <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <div class="col-md-9">
          <font size="3px"><b>작성자</b></font>
          <font size="2px">2022.07.05. 22:16</font>
        </div>
        <div align="right" class="col-md-3">
           조회 77
        </div>
      </div>


      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-4 mb-3 border-bottom">
        내용 무 <br>
        얍얍얍얍얍
      </div>

      
      <div class="card-body">
        <!--타임리프로 div 반복-->
        <div class="card-text pt-2 pb-2 border-bottom">
          <div><font size="3px"><b>ADMIN</b></font></div>
          <div><font size="3px">하이루</font></div>
          <div><font size="2px">2022.07.05. 22:16</font></div>
        </div>
        <div class="card-text pt-2 pb-2 border-bottom">
          <div><font size="3px"><b>Park</b></font></div>
          <div><font size="3px">ㅋㅋㅋㅋㅋㅋㅋ</font></div>
          <div><font size="2px">2022.07.05. 22:36</font></div>
        </div>
        <!--타임리프로 div 반복-->
      </div>
      
      <form method="post" class="my-3">
        <div class="col-md-12">
          <textarea style="resize: none;" class="form-control" rows="3" id="comment" name="comment" placeholder="댓글"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-*" type="submit">등록</button>
        </div>
      </form> 

    <!--/main-->


