<div class="col-sm-6 pb-4 px-4">
				<div class="card" style="height: 15rem;" >
				  <div class="card-body">
					 코스피차트
				  </div>
				</div>	
			</div>
	        <div class="col-sm-6 pb-4 px-4">
	        	<div class="card" style="height: 15rem;" >
				  <div class="card-body">
					 코스닥차트
				  </div>
				</div>
	        </div>
	        <div class="col-sm-6 pb-4 px-4">
				<div class="card" style="height: 15rem;" >
				  <div class="card-body">
					 상승률순위
				  </div>
				</div>
			</div>
	        <div class="col-sm-6 px-4">
				<div class="card" style="height: 15rem;" >
				  <div class="card-body">
					 하락율슌위
				  </div>
				</div>
			</div>