<!DOCTYPE html>
<html>
<th:block th:include="~{include/header}"></th:block>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        
         <header class="p-3 mb-3 border-bottom">
		    <div class="container">
		      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
		        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
		          <img th:src="@{/image/logo_letter.png}" width="80" height="80"/>
		        </a>
		
		        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
		          <li><a href="/" class="nav-link px-6 link-secondary">홈</a></li>
		          <li><a href="#" class="nav-link px-6 link-dark">검색</a></li>
		          <li><a href="community?id=1" class="nav-link px-6 link-dark">커뮤니티</a></li>
		        </ul>
		
		        <div class="dropdown text-end">
		          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
		            <!-- <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> -->
					<div style="display: inline;" th:text="${member.id}"></div>
		          </a>
		          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
		            <!-- <li><a class="dropdown-item" href="#">설정</a></li> -->
		            <li><a class="dropdown-item" href="#">프로필</a></li>
		            <li><hr class="dropdown-divider"></li>
		            <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </header>
		</div>
    </div>
    <div class="row">
    	<!-- iframe-->
        <div class="col-sm-6 pb-4 px-4">
			<div class="card" style="height: 15rem;" >
			  <div class="card-body">
				 코스피차트
			  </div>
			</div>	
		</div>
        <div class="col-sm-6 pb-4 px-4">
        	<div class="card" style="height: 15rem;" >
			  <div class="card-body">
				 코스닥차트
			  </div>
			</div>
        </div>
        <div class="col-sm-6 pb-4 px-4">
			<div class="card" style="height: 15rem;" >
			  <div class="card-body">
				 상승률순위
			  </div>
			</div>
		</div>
        <div class="col-sm-6 px-4">
			<div class="card" style="height: 15rem;" >
			  <div class="card-body">
				 하락율슌위
			  </div>
			</div>
		</div>
        <!-- /iframe-->
    </div>
    <div class="row">
        <div class="col-sm-12">
        	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
		    <div class="col-md-4 d-flex align-items-center">
		      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
		        <img th:src="@{/image/logo_letter.png}" width="60" height="60"/>
		      </a>
		    </div>
		
		    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
		      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
		      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
		      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
		    </ul>
		  </footer>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>